<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stats</title>
    <style>
        nav {
            height: 50px;
        }
        body {
            background-image: url("/images/FrenchFastJaguar-max-1mb.gif");
            background-size: cover;
            height: 100vh;
        }
        .card-container {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            background-color: white;
            justify-content: center;
            max-width: 400px;
            border: 10px solid orange;
            border-radius: 15px;
            padding: 10px;
            background-color: black;
            /* opacity: 0.75; */
        }
        .image {
            margin: 0 auto;
            opacity: 1;
        }
        .details {
            color: white;
            border: 1px solid lightcyan;
            padding: 30px;
            font-size: 13px;
        }
        .edit-button {
            margin: 0 auto;
        }
        #pkmn-name {
            text-align: center;
            font-size: 18px;
        }
    </style>
</head>
<body>
    
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/user/box">My Box</a>
        <a href="">FAQ</a>
    </nav>
    
</header>

    <div class="card-container">
        <div class="image">
        <img src="<%= @pokemon["img_url"] %>">
        
        </div>
        <div class="details">
            <h2>Stats</h2>
            <p id="pkmn-name"><%= @pokemon["name"] %></p>
            <p>HP: <%=@pokemon["hp"]%></p>
            <p>Attack: <%=@pokemon["attack"]%></p>
            <p>Defence: <%=@pokemon["defence"]%></p> 
            <p>Special: <%=@pokemon["special"]%></p>
            <p>Speed: <%=@pokemon["defence"]%></p> 
        </div>
        
        <div class="edit-button">
            <form action="/user/box/edit" method="get">
                <label for=""></label>
                <button>Edit</button>
                
            </form>
        </div>
        
    </div>
</body>
</html>